name: Build Docker images

on: [pull_request]

jobs:
  build-ubuntu:
    name: Build Ubuntu image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build
        uses: docker/build-push-action@v6
        with:
          context: ./docker
          file: ./docker/Dockerfile.ubuntu
          platforms: linux/amd64,linux/arm64
          attests: type=sbom,generator=docker/scout-sbom-indexer:latest
          push: false
          tags: debug-ubuntu:latest

  build-alpine:
    name: Build Alpine image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build
        uses: docker/build-push-action@v6
        with:
          context: ./docker
          file: ./docker/Dockerfile.alpine
          platforms: linux/amd64,linux/arm64
          attests: type=sbom,generator=docker/scout-sbom-indexer:latest
          push: false
          tags: debug-alpine:latest
